services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: le_xot
      POSTGRES_PASSWORD: abc
      POSTGRES_DB: lists
    networks:
      - dokploy-network
    volumes:
      - pgdata:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 192M

  admin:
    image: adminer
    restart: unless-stopped
    depends_on:
      - postgres
    networks:
      - dokploy-network
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 96M

  application:
    image: lexot/games-movies-database:latest
    restart: unless-stopped
    depends_on:
      - postgres
    networks:
      - dokploy-network
    env_file: .env
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 384M

volumes:
  pgdata:
networks:
  dokploy-network:
    external: true
