services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: le_xot
      POSTGRES_PASSWORD: abc
      POSTGRES_DB: lists
    networks:
      - dokploy-network
    volumes:
      - pgdata:/var/lib/postgresql/data
  admin:
    image: adminer
    restart: unless-stopped
    depends_on:
      - postgres
    networks:
      - dokploy-network
  application:
    image: lexot/games-movies-database:latest
    restart: unless-stopped
    depends_on:
      - postgres
    networks:
      - dokploy-network
volumes:
  pgdata:
networks:
  dokploy-network:
    external: true
