DATASOURCE_URL='postgresql://le_xot:abc@127.0.0.1:6543/lists?schema=public'
JWT_SECRET=supersecret
APP_PORT=3000

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_CALLBACK_URL=http://localhost:5173/auth/callback
TWITCH_ADMIN_ID=
TWITCH_ADMIN_LOGIN=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_CALLBACK_URL=http://127.0.0.1:5173/auth/callback/spotify

KICK_CLIENT_ID=
KICK_CLIENT_SECRET=
KICK_CALLBACK_URL=http://localhost:3000/api/auth/kick/callback

WEATHER_API_KEY=
WEATHER_LAT=54.77830372022137
WEATHER_LON=56.07346236705781

KINOPOISK_API=
TMBD_API=

PROXY=

TWIR_API=

S3_ENDPOINT=http://rustfs:9000
S3_ACCESS_KEY_ID=rustfsadmin
S3_SECRET_ACCESS_KEY=rustfsadmin
S3_BUCKET_IMAGES=images
S3_BUCKET_AVATARS=avatars
S3_BUCKET_BACKUPS=backups
